@import url('https://fonts.googleapis.com/css?family=Montserrat:400,400i,600,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Sanchez&display=swap');



/*-------------Colors-----------------------------------*/
:root {
  --main-bg-color: #5C5A5A;
  --black-bg-color: #000;
  --main-bg-text: rgba(196, 196, 196, .12);
  --main-text-color: #ffffff;
  --orange-text-color: #F7931E;
  --orange-text-color-hover: rgb(245, 118, 0);
  --red-text-color: #D92B39;
  --blue-color: #2BBED9;
  --turquoise-color: #7FEBE7;
}
.orange-text-color{
    color: var(--orange-text-color)!important;
}

/*-------------General--------------------------------------*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
    color: var(--main-text-color);
}
/*-------------Navigation-----------------------------------*/

.bg-transparent{
    background-color: transparent!important;
}
.img-container{
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.img-gabiCoffee-nav{
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    width: 80px;
    height: auto;
    border-radius: 50%;
    border: 2px solid var(--orange-text-color);
}
.text-love-coffee{
    color: var(--orange-text-color);
    font-size: 0.6rem;
}

/*-------------Callout-----------------------------------*/

.callout-container{
    height: 100vh;

    background: url('../img/bg_computer.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}
.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

.callout-titel{
    font-size: 1.875rem;
    color: var(--orange-text-color);
    text-shadow: 2px 2px 3px #000;
    margin: 0.5rem 0.5rem 0.5rem 1rem;
}

.callout-subtitel{
    font-size: 1.25rem;
    margin: 0 0.5rem 0.5rem 1rem;
}

.social-icons{
    margin-top: 2rem;
    margin-left: 2rem;
}

.social-icons ul{
    list-style: none;
}

.fa-linkedin-square{
    font-size: 2rem;
    color: var(--main-text-color);
    padding: 0.5rem; 
}

.fa-github{
    font-size: 2rem;
    color: var(--main-text-color);
    padding: 0.5rem; 
}

.fa-codepen{
    font-size: 2rem;
    color: var(--main-text-color);
    padding: 0.5rem; 
}

.fa-behance{
    font-size: 2rem;
    color: var(--main-text-color);
    padding: 0.5rem; 
}

.fa-linkedin-square:hover, .fa-github:hover,
.fa-codepen:hover, .fa-behance:hover {
    color: #F7931E;
}

.button-container{
    display: flex;
    align-self: flex-end;
    align-items: center;
    justify-content: center;
}
.btn-getInTouch{
    font-weight: bold;
    background-color: var(--orange-text-color);
    box-shadow: 3px 6px 10px #000;
}

/*-------------Info-----------------------------------------*/

.info-container{
    height: 50vh;
    color: var(--main-bg-color);
    background-color: rgba(247,147,30,.06);
}
.info-text p{
    position: relative;
    font-size: 1.2rem;
    line-height: 1rem;   
}
.info-text p:before {
    content: '\201C';
    font-family: 'Sanchez', sans-serif;
    position: absolute;
    top: 5rem;
    left: -1.2rem;
    color: rgba(92,90,90,0.2);
    font-size: 15rem;
    z-index: -1;
   }

/*-------------What can I do--------------------------------------------*/

.do-container{
    position: relative;
    background-color: var(--main-bg-color);
}
.do-watermark:before{
    content: "CODE";
    font-family: "Sanchez", sans-serif;
    position: absolute;
    color: rgba(253,253,253,0.1);
    font-size:200px;
    font-weight: bold;
    top: 10rem;
    left: -12rem;
    transform:rotate(-90deg);
    -webkit-transform:rotate(-90deg);
    z-index: 99;
}

.do-title{
    color: var(--orange-text-color);
    text-shadow: 2px 2px 3px #000;
}

/*-------------Social-container-----------------------------------------*/

.social-container{
    color: var(--main-text-color);
    background-color: var(--black-bg-color);
}

.social-container .fa-linkedin-square{
    color: var(--orange-text-color);
    font-size: 3rem;
}
.social-container .fa-github{
    color: var(--orange-text-color);
    font-size: 3rem;
}
.social-container .fa-codepen{
    color: var(--orange-text-color);
    font-size: 3rem;
}
.social-container .fa-behance{
    color: var(--orange-text-color);
    font-size: 3rem;
}
.line{
   border: 0.5px solid var(--main-bg-color);
   width: 80%;
   margin-left: auto;
   margin-right: auto;
}
.social-container .fa-linkedin-square:hover, .social-container .fa-github:hover, 
.social-container .fa-codepen:hover, .social-container .fa-behance:hover{
    color: var(--orange-text-color-hover);
}
/*-------------footer-container-----------------------------------------*/

.footer-container{
    background-color: var(--main-bg-color);
}
.footer-info{
    margin: 0 auto;
    padding: 4rem!important;
    color: var(--orange-text-color);
}
.footer-border-left{
    border-left: 0.5px solid #F7931E;
}

.footer-info i{
    font-size: 1.5rem;
}
.fa-compass, .fa-envelope{
    color: var(--orange-text-color);
}
.compass h4, .envelope h4 {
    margin-bottom: 0;
}
.fa-envelope:hover{
    color: var(--orange-text-color-hover);
}
.envelope h4 a {
    color: var(--orange-text-color);
    text-decoration: none;
}
.envelope h4 a:hover {
    color: var(--orange-text-color-hover);
    text-decoration: none;
}
.fa-download{
    color: #D92B39;
}
.fa-download:hover{
    color: rgb(163, 11, 24);
}
.download a{
    font-weight: bold;
    color: #D92B39;
    text-decoration: none;
    margin-bottom: 0;
    padding-bottom: 0;
}
.download a:hover{
    color: rgb(163, 11, 24);
}

.footer-img-map{
    width: 100%;
    padding: 0!important;
    margin: 0;
}
.footer-img-map img{
    width: 100%;
    padding: 0;
    margin: 0;
}

.copyright{
    font-size: 0.75rem;
    background-color: var(--main-bg-color);
}

/*---------------------media queries-----------------------------*/

@media only screen and (max-width: 576px){
    .navbar-nav.ml-auto{
        background-color: rgba(0,0,0,0.8);
    }
}


@media only screen and (min-width: 576px){
    .navbar-nav.ml-auto{
        background-color: transparent;
    }
    .img-container{
        display: none;
    }
}