@import url('https://fonts.googleapis.com/css?family=Montserrat:400,400i,600,700&display=swap');



/*-------------Colors-----------------------------------*/
:root {
  --main-bg-color: #5C5A5A;
  --black-bg-color: #000;
  --main-bg-text: rgba(196, 196, 196, .12);
  --main-text-color: #ffffff;
  --orange-text-color: #F7931E;
  --red-text-color: #D92B39;
  --blue-color: #2BBED9;
  --turquoise-color: #7FEBE7;
}
.orange-text-color{
    color: var(--orange-text-color)!important;
}

.bg-dark {
    background-color: #000!important;
}
/*-------------General--------------------------------------*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
    color: var(--main-text-color);
}
/*-------------Navigation-----------------------------------*/
button:focus {
    outline: 5px auto transparent;
}
.navbar{
    margin-bottom: 0;
    border: 0;
    width: 100%;
    background-color: rgba(0,0,0,0.25);
}
a.navbar-brand{
    font-size: 1rem;
}
.img-container{
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.img-gabiCoffee-nav{
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    width: 80px;
    height: auto;
    border-radius: 50%;
    border: 2px solid var(--orange-text-color);
}
.text-love-coffee{
    color: var(--orange-text-color);
    font-size: 0.6rem;
}

/*-------------Callout-----------------------------------*/

.callout-container{
    height: 100vh;

    background: url('../img/bg_computer.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}
.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

.callout-titel{
    font-size: 1.875rem;
    color: var(--orange-text-color);
    margin: 0.5rem 0.5rem 0.5rem 1rem;
}

.callout-subtitel{
    font-size: 1.25rem;
    margin: 0 0.5rem 0.5rem 1rem;
}

.social-icons{
    margin-top: 2rem;
    margin-left: 2rem;
}

.social-icons ul{
    list-style: none;
}

.fa-linkedin-square{
    font-size: 2rem;
    color: var(--main-text-color);
    padding: 0.5rem; 
}

.fa-github{
    font-size: 2rem;
    color: var(--main-text-color);
    padding: 0.5rem; 
}

.fa-codepen{
    font-size: 2rem;
    color: var(--main-text-color);
    padding: 0.5rem; 
}

.fa-behance{
    font-size: 2rem;
    color: var(--main-text-color);
    padding: 0.5rem; 
}

.button-container{
    display: flex;
    align-self: flex-end;
    align-items: center;
    justify-content: center;
}
.btn-getInTouch{
    font-weight: bold;
    background-color: var(--orange-text-color);
}

/*-------------Info-----------------------------------------*/

.info-container{
    padding: 1rem 1rem;
    color: var(--main-bg-color);
    background-color: rgba(247,147,30,.06);
}

/*-------------Social-container-----------------------------------------*/

.social-container{
    color: var(--main-text-color);
    background-color: var(--black-bg-color);
}

.social-container .fa-linkedin-square{
    color: var(--orange-text-color);
    font-size: 3rem;
}
.social-container .fa-github{
    color: var(--orange-text-color);
    font-size: 3rem;
}
.social-container .fa-codepen{
    color: var(--orange-text-color);
    font-size: 3rem;
}
.social-container .fa-behance{
    color: var(--orange-text-color);
    font-size: 3rem;
}
.line{
   border: 0.5px solid var(--main-bg-color);
   width: 80%;
   margin-left: auto;
   margin-right: auto;
}
/*-------------footer-container-----------------------------------------*/

.footer-container{
    background-color: var(--main-bg-color);
}
.footer-info{
    color: var(--orange-text-color);
}
.loc-border-left{
    border-left: 0.5px solid #F7931E;
}

.footer-info i{
    font-size: 1.5rem;
}
.fa-compass, .fa-envelope{
    color: var(--orange-text-color);
}
.fa-download{
    color: #D92B39;
}
.text-red{
    color: #D92B39;
}


.copyright{
    font-size: 0.75rem;
    background-color: var(--main-bg-color);
}